<div class="commit_details">
  <%= erb :commit_info, :layout => false %>
</div>
<% @commit.show.each do |bit| %>
  <div class="bit">
  <% if bit.deleted_file %>
    <p><%= bit.b_path %> was deleted.</p>
  <% else %>
    <div class="diff">
      <h2><%= bit.b_path %></h2>
      <div class="diff_container">
        <%= diff bit %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
