<html>
  <head>
    <link rel="stylesheet" href="/application.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script>
      // Load jQuery
      google.load("jquery", "1.3.2");
    </script>
  </head>
  <body>
    <div class="container">
      <h1><%= link_to_repository %> (<%= link_to_feed %>)</h1>
      <%= yield %>
    </div>
  </body>
</html>