<ul id="commits">
  <% @repository.commits(params[:branch], false).each do |commit| %>
    <li class="commit">
      <% @commit = commit %>
      <%= erb :commit_info, :layout => false %>
    </li>
  <% end %>
</ul>