<%= erb :repository_info, :layout => false %>
<ul id="commits">
  <% @repository.commits(@branch, false).each do |commit| %>
    <li class="commit_details">
      <% @commit = commit %>
      <%= erb :commit_info, :layout => false %>
    </li>
  <% end %>
</ul>